{% load static %}



<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>{% block title %}Seguimiento de Envío{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Tailwind Admin Dashboard, A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">

    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

    <!-- Icons css (Mandatory in All Pages) -->
    <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css">

    <!-- App css (Mandatory in All Pages) -->
    <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
    <style>
        #id_codigo_seguimiento{
            border-radius: 20px;
        }

    </style>

    <div class="wrapper">

        <!-- Sidebar -->
        <aside id="app-menu" class="fixed inset-y-0 start-0 z-60 hidden w-sidenav min-w-sidenav -translate-x-full transform overflow-y-auto bg-body transition-all duration-300 hs-overlay-open:translate-x-0 lg:bottom-0 lg:end-auto lg:z-30 lg:block lg:translate-x-0 rtl:translate-x-full rtl:hs-overlay-open:translate-x-0 rtl:lg:translate-x-0 print:hidden">
            <div class="sticky top-0 flex h-16 items-center justify-center px-6">
                <a href="{% url 'home' %}">
                    <img src="{% static 'assets/images/logo-dark.png' %}" alt="logo" class="h-10">
                </a>
            </div>
            <div class="h-[calc(100%-64px)] p-4 lg:ps-8" data-simplebar>
                <ul class="admin-menu hs-accordion-group flex flex-col gap-1.5">
                    <li class="menu-item">
                        <a href="{% url 'home' %}" class="group flex items-center gap-x-4 rounded-md px-3 py-2 text-sm font-medium text-default-700 transition-all hover:bg-default-900/5">
                            <i data-lucide="airplay" class="size-5"></i>
                            Sitio
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="{% url 'seguimiento_form' %}" class="group flex items-center gap-x-4 rounded-md px-3 py-2 text-sm font-medium text-default-700 transition-all hover:bg-default-900/5">
                            <i data-lucide="file-text" class="size-5"></i>
                            <span class="menu-text"> Seguimiento de Envío </span>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
        <!-- End Sidebar -->

        <!-- Page Content -->
        <div class="page-content">

            <!-- Topbar -->
            <header class="app-header md:hidden h-16 flex items-center lg:bg-opacity-10 bg-white backdrop-blur-sm">
                <div class="container flex items-center gap-4">
                    <a href="{% url 'home' %}" class="md:hidden flex">
                        <img src="{% static 'assets/images/logo-sm.png' %}" class="h-6" alt="Small logo">
                    </a>
                    <button id="button-toggle-menu" class="text-default-500 hover:text-default-600 p-2 rounded-full cursor-pointer" data-hs-overlay="#app-menu" aria-label="Toggle navigation">
                        <i class="i-tabler-menu-2 text-2xl"></i>
                    </button>
                </div>
            </header>
            <!-- Topbar End -->

            <!-- Main Content -->
            <main>
                <div class="container py-6">
                    <div class="flex items-center flex-wrap gap-2 mb-6">
                        <h4 class="text-default-900 text-lg font-medium">Seguimiento de Envío</h4>
                    </div>

                    <div class="flex flex-col gap-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Consultar Código de Seguimiento</h4>
                            </div>
                            <div class="p-6">
                                <form method="post" class="grid lg:grid-cols-2 gap-6">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="codigo_seguimiento" class="text-default-800 text-sm font-medium inline-block mb-2" >
                                        </label>
                                        {{ form.codigo_seguimiento.label_tag }}
                                        {{ form.codigo_seguimiento }}
                                    </div>
                                    <button type="submit" class="btn btn-primary w-full lg:w-auto mt-4">Consultar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <!-- JavaScript -->
    <script src="{% static 'assets/libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'assets/libs/lucide/umd/lucide.min.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>
</body>

</html>
